<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Funds </title>
    <link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/style2.css">
</head>
<body>

    <header class="header" data-header>
        <div class="container">
          <div class="overlay" data-overlay></div>
  
          <a href="#" class="logo">
            <img
              src="/images/logo2w-removebg-preview.png"
              alt="NGO logo"
            />
          </a>
  
          <button class="menu-open-btn" data-menu-open-btn>
            <ion-icon name="menu-outline"></ion-icon>
          </button>
  
          <nav class="navbar" data-navbar>
            <button class="menu-close-btn" data-menu-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>
  
            <a href="#" class="logo">
              <img
                src="/images/logo2w-removebg-preview.png"
                alt="NGO logo"
              />
            </a>
  
            <ul class="navbar-list">
              <li>
                <a href="/"  class="navbar-link">Home</a>
              </li>
  
              <li>
                <a href="/ngo_guide"  class="navbar-link"
                  >NGOs Around You
                </a>
              </li>
  
              <li>
                <a href="/funds" class="navbar-link">Funds</a>
              </li>
            </ul>
  
            <button  class="btn btn-secondary" >
				<a href="/tempform"></a>
				Donate Now
			
			</button>
          </nav>
        </div>
      </header>
  
      <main>
        <article>
        

	<div class="wrapper">
		<div class="title">
			
		</div>
		<div class="tabs_wrap">
			<ul>
				<li data-tabs="children">Children </li>
				<li data-tabs="women">Women </li>
                <li data-tabs="education">Education </li>
				<li data-tabs="oldage">Old Age</li>

				<li data-tabs="all" class="active">All</li>
			</ul>
		</div>
		<div class="container">
			<ul>
				<li class="item_wrap children ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/childngo.jpg" alt="">
							</div>
							<div class="data">
								<p class="name">Advika Welfare Foundation</p>
								<p class="distance">UPI NUMBER: +91 9552560631</p>
							</div>
						</div>
						
					</div>
				</li>

                <li class="item_wrap education ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/education.jpg" alt="">
							</div>
							<div class="data">
								<p class="name">NAAM Foundation</p>
								<p class="distance">Account Name : Naam Foundation <br> Account Number : 35226127148 (Current Account)<br> Branch Name : Shivaji Park Bank Name : State Bank of India <br> IFSC Code : SBIN0001429 <br> Branch Code No. : 001429 <br> PAN No. AACTN2388N
                                                     
                                                      </p>
							</div>
						</div>
						
					</div>
				</li>



				<li class="item_wrap children ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/childngo.jpg" alt="">
							</div>
							<div class="data">
								<p class="name">Sneh Foundation</p>
								<p class="distance">Account Number: 975327552<br> 
                                    IFSC: IDIB000P159<br>

                                    Bank Account Name: SNEH FOUNDATION<br>
                                                    Bank Name: Indian Bank Bank Branch:<br> 8B-C, Hiramoti Fortune, Pimpri Chinchwad – 411019
                                                     
                                                      </p>
							</div>
						</div>
						
					</div>
				</li>

				<li class="item_wrap children ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/childngo.jpg" alt="">
							</div>
							<div class="data">
								<p class="name">Social Actionist Foundation</p>
								<p class="distance">IFSC Code : HDFC0001662<br> Bank Account No. : 16622000000564 <br> Social Action Foundation Bank Name : HDFC Bank Ltd. Bank <br>Address : N-13, Kalkaji, New Delhi-110019 
                                                     
                                                      </p>
							</div>
						</div>
						
					</div>
				</li>
				<li class="item_wrap education ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/education.jpg" alt="">
							</div>
							<div class="data">
								<p class="name">Little Hope Charity</p>
								<p class="distance">BANK: Axis Bank ACCOUNT Name: Little hope charity <br> No : 914010029661430<br> BRANCH: Kalyani Nagar, Pune<br> IFSC CODE: UTIB0000269 <br> MICR code: 411211007 <br> PAN NO: AABTL1446N
   
                                </p>
							</div>
						</div>
						
					</div>
				</li>



				<li class="item_wrap women ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/womenngo.png" alt="">
							</div>
							<div class="data">
								<p class="name">Dnyandeep Foundation</p>
								<p class="distance">UPI NUMBER: +91 9422410520 
                                                      </p>
							</div>
						</div>
						
					</div>
				</li>



				<li class="item_wrap children ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/childngo.jpg" alt="">
							</div>
							<div class="data">
								<p class="name">Smile Foundation</p>
								<p class="distance">Chanchana - 8130088239 <br>Mail id: donation@smilefoundationindia.org 
                                                     
                                                      </p>
							</div>
						</div>
						
					</div>
				</li>


                <li class="item_wrap education ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/education.jpg" alt="">
							</div>
							<div class="data">
								<p class="name">Rajmudra Foundation</p>
								<p class="distance">Account name : Rajmudra Research & Development Foundation Bank Name & Add : ICICI <br> Bank Account no. : 187501000282 <br> IFSC code : ICICI0001875
                                                     
                                                      </p>
							</div>
						</div>
						
					</div>
				</li>

                <li class="item_wrap women ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/womenngo.png" alt="">
							</div>
							<div class="data">
								<p class="name">Ray Of Hope Foundation</p>
								<p class="distance">ACCOUNT NAME: A Ray Of Hope Charitable Trust<br> ACCOUNT NUMBER: 50200048274210 <br> IFSC CODE: HDFC0001210 <br> BANK NAME: HDFC Bank
                                                      </p>
							</div>
						</div>
						
					</div>
				</li>




				

				<li class="item_wrap education ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/education.jpg" alt="">
							</div>
							<div class="data">
								<p class="name">Prayas Youth</p>
								<p class="distance">Holder: PRAYAS YOUTH FORUM AND SOCIAL AWARENESS FOUNDATION<br> Account No: 38169690591 <br> IFSC Code : SBIN0013530 <br> Bank and Branch: State Bank of India
  
                                </p>
							</div>
						</div>
					</div>
				</li>


                <li class="item_wrap oldage ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/oldngo.png" alt="">
							</div>
							<div class="data">
								<p class="name">Ray Of Hope Foundation</p>
								<p class="distance">
                                    ACCOUNT NAME: A Ray Of Hope Charitable Trust <br>ACCOUNT NUMBER: 50200048274210 <br>IFSC CODE: HDFC0001210 BANK NAME: HDFC Bank


                                </p>
							</div>
						</div>
					</div>
				</li>



                <li class="item_wrap women ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/womenngo.png" alt="">
							</div>
							<div class="data">
								<p class="name">Bhagini Nivedita</p>
								<p class="distance">
                                    UPI NUMBER: +91 8275765734

                                </p>
							</div>
						</div>
					</div>
				</li>



                <li class="item_wrap oldage ">
					<div class="item">
						<div class="item_left">
							<div class="img">
                                <img src="/images/oldngo.png" alt="">
							</div>
							<div class="data">
								<p class="name">Social Actionist Foundation</p>
								<p class="distance">
                                     Social Action Foundation Bank Name : HDFC Bank Ltd. <br>  IFSC Code : HDFC0001662 <br>Bank Account No. : 16622000000564

                                </p>
							</div>
						</div>
					</div>
				</li>



                <li class="item_wrap oldage ">
					<div class="item">
						<div class="item_left">
							<div class="img">
                                <img src="/images/oldngo.png" alt="">
							</div>
							<div class="data">
								<p class="name">Deepstambha Charitable Trust</p>
								<p class="distance">
                                    UPI NUMBER: +91 8380038714

                                </p>
							</div>
						</div>
					</div>
				</li>

                <li class="item_wrap education ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/education.jpg" alt="">
							</div>
							<div class="data">
								<p class="name">Sneh Foundation</p>
								<p class="distance">
                                    Bank Account Name: SNEH FOUNDATION<br> Bank Name: Indian Bank Bank Branch: 8B-C, Hiramoti Fortune, Pimpri Chinchwad – 411019 <br> Account Number: 975327552 <br>IFSC: IDIB000P159

                                </p>
							</div>
						</div>
					</div>
				</li>



                <li class="item_wrap education ">
					<div class="item">
						<div class="item_left">
							<div class="img">
								<img src="/images/education.jpg" alt="">
							</div>
							<div class="data">
								<p class="name">Sadhana Foundation</p>
								<p class="distance">
                                  
                                    Name Of Account: Sadhana Village, Pune <br>Account Number: 15000100006330 <br>Federal Bank Ltd. Kothrud Branch, Pune-411038 .
                                </p>
							</div>
						</div>
					</div>
				</li>
                




			</ul>
		</div>
	</div>	

<script src="/js/script2.js"></script>
<script src="/js/script.js"></script>
</body>
</html>