<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NGO Guide </title>

    
    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@600;700&family=Rubik:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>

  
  <body id="top">
    <!-- 
    - #HEADER
  -->

    <header class="header" data-header>
      <div class="container">
        <div class="overlay" data-overlay></div>

        <a href="#" class="logo">
          <img src="/images/logo2w-removebg-preview.png" alt="NGO logo" />
        </a>

        <button class="menu-open-btn" data-menu-open-btn>
          <ion-icon name="menu-outline"></ion-icon>
        </button>

        <nav class="navbar" data-navbar>
          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

          <a href="#" class="logo">
            <img src="/images/logo2w-removebg-preview.png" alt="Eduland logo" />
          </a>

          <ul class="navbar-list">
            <li>
              <a href="/" target="_blank" class="navbar-link">Home</a>
            </li>

            <li>
              <a href="/ngo_guide" target="_blank" class="navbar-link">NGOs Around You </a>
            </li>

            <li>
              <a href="/funds" class="navbar-link">Funds</a>
            </li>
          </ul>

          <button class="btn btn-secondary">Donate Now
            <a href="/temform"></a>
          </button>
        </nav>
      </div>
    </header>

  

    


      <section class="departments">
        <div class="container">


          <h2 class="h2 departments-title"></h2>

          <ul class="departments-list">
            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img src="/images/child1.jpeg" alt="" />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Children Welfare</h3>
                </a>

                <p class="card-text">
                  Maybe your small contribution could get some clothes for a
                  young boy during the chilly nights, and donate for a change.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/women1.jpeg"
                      alt="Civil Engineering"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Women Empowerment</h3>
                </a>

                <p class="card-text">
                  Remember the dignity of your womanhood. Do not appeal, do
                  not beg, do not grovel. Take courage, join hands, stand
                  besides us, fight with us.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>


            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>


            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>


            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>
            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>

            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>


            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>
            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>
            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>
            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>
            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>
            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>
            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>
            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>
            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>
            <li>
              <div class="departments-card">
                <a href="#" class="card-banner">
                  <figure>
                    <img
                      src="/images/old1.jpg"
                      alt="Business Studies"
                    />
                  </figure>
                </a>

                <a href="#">
                  <h3 class="h3 card-title">Old Age Homes</h3>
                </a>

                <p class="card-text">
                  Give yourself entirely to those around you. Be generous with
                  your blessings. A kind gesture can reach a wound that only
                  compassion can heal.
                </p>

                <a href="#" class="card-link">
                  <span>Learn More</span>

                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
              </div>
            </li>
            
            
            

          </ul>

          <!-- <button class="btn btn-primary">View All NGOs</button> -->
        </div>
      </section>



    
        <!-- 
    - #GO TO TOP
  -->

    <a href="#top" class="go-top" data-go-top>
        <ion-icon name="arrow-up"></ion-icon>
      </a>
  
      <!-- 
      - custom js link
    -->
      <script src="/js/script.js"></script>
  
      <!-- 
      - ionicon link
    -->
      <script
        type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
        nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
      ></script>
    </body>
  </html>
  